/* Overlay styles */
.custom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

/* Box styles */
.custom-box {
  width: 400px;
  max-width: 80%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  color: #333;
  font-family: "Arial", sans-serif;
}

/* Title styles */
.box-title {
  margin-top: 0;
  font-size: 24px;
  color: #00b894;
}

/* Content styles */
.box-content {
  margin: 20px 0;
  font-size: 16px;
  color: #666;
}
/* Card container */
.card-container {
  position: relative;
  height: 80px;
  margin-top: 20px;
}

/* Card styles */
.card {
  position: absolute;
  top: 0;
  width: 300px;
  left: 30px;
  padding: 5px;
  background-color: #eaf1fc;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  transition: transform 0.5s ease, opacity 0.5s ease;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 20px;
}
.card p {
  font-size: 1.3rem;
  margin: 0;
}
.card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Slide-in animation */
.slide-in {
  transform: translateY(-100%);
  opacity: 0;
  animation: slideIn 0.5s forwards; /* Use 'forwards' to retain final state */
}

/* Keyframes for slide-in animation */
@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Button styles */
.button {
  background-color: #00b894;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #2575fc;
  transform: scale(1.05);
}

.button:active {
  background-color: #00b894;
  transform: scale(0.95);
}
